<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- link files -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="viewjob/css/style.css">
 
 <link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		$("#table_id").DataTable();
	});
</script>

<!--                               -->
</head>
<body>
	<!-- adminMaster -->
	<div th:replace="AdminMaster :: admin"></div>

	<!-- ------------- -->
	
	
	
	
	
	
	<!-- -------table -->

	<div class="tablearea">
		<div class="card ">
			<div class="card-header text-center font-weight-bold">View Job
			</div>
			<div class="card-body ">
				<table class="table table-bordered table-hover table-sm"
					id="table_id">
					<thead>
						<tr>

							<th scope="col" style="text-align: center">Job id</th>
							<th scope="col" style="text-align: center">Package</th>
							<th scope="col" style="text-align: center">Location</th>
							<th scope="col" style="text-align: center">Job Description</th>
							<th scope="col" style="text-align: center">Last date to
								Apply</th>
							<th scope="col" style="text-align: center">Job id</th>
							<th scope="col" style="text-align: center">Package</th>
							<th scope="col" style="text-align: center">Location</th>
							<th scope="col" style="text-align: center">Job Description</th>
							<th scope="col" style="text-align: center">Last date to
								Apply</th>	
							<th style="text-align: center">DELETE</th>
							<th style="text-align: center">UPDATE</th>
						</tr>
					</thead>
					<!--  
			<tbody>
			 
			<c:forEach var="jobmodel" items="${jobList }">
				<tr>
  				<td style="text-align:center">${jobmodel.getName()}</td>
				<td style="text-align:center">${jobmodel.getPack()}</td>
				<td style="text-align:center">${jobmodel.getLocation()}</td>
				<td style="text-align:center">${jobmodel.getDesc()}</td>
				<td style="text-align:center">${jobmodel.getLasttoapply()}</td>
				<td style="text-align:center"><a href='delCompyById?cid=${jobmodel.getId()}'>DELETE</a></td>
				<td style="text-align:center"><a href=' updatejob?jid=${jobmodel.getId()}&name=${jobmodel.getName()}&pack=${jobmodel.getPack()}&loc=${jobmodel.getLocation()}&desc=${jobmodel.getDesc()}&dapply=${jobmodel.getLasttoapply()}'>UPDATE</a></td>
				</tr>
				</c:forEach>
				
			</tbody>
			--->
				</table>
			</div>
		</div>

	</div>
	<!-- ---------------end of table -->






	<!-- -------- Scripts    ---- -->

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

	<!-- ---------------- -->
</body>
</html>