@charset "ISO-8859-1";

 /*-----------------------------addnewtable----------------------------*/  
  .tablearea{
	width:75%;
	height:450px;	
	margin-left:56%;
	position: absolute;
	float:center;
    bottom: -0.20px;
    right: 0;
    top:30;

}
  


    
/*-------------------------------------------------------------------------*/   

/*-------------------------------------------table--------------------------------*/
	table, th, td {
       border: 1px solid black;
      }
      
     table
     {
     
font-size:20px;    
background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
     }
     
     table th
     {
       font-size:15px;
       font-family: "Times New Roman", Times, serif;
       font-weight: bold;
       
     } 
     
        
     table tr td
      {
       font-size:15px;
       font-family: "Times New Roman", Times, serif;
       width:10px;
    
       
     } 
     
     .card
     {
          height:500%;
          width: 130%;
          position:absolute;
          right:70px;
          bottom: -50px;
     
     }
 
    .text
    {
          color:#FFFFFF;
      
    }
    
     
     
     
     
 /*----------------------------------------------------------------------------------------------------------*/    