@charset "ISO-8859-1";

/*-----------------------------addnewform----------------------------*/  
  .formarea{
    width:75%;
    background-repeat: no-repeat;
	height:130%;
	margin-left:25%;
	position:absolute;
	padding:75px;
	float:center-bottom;
    bottom: -0.20px;
    right: 30px;;
    top:-320px; 
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  

    
}
/*===============================Resume file=======================================*/

/*================================================================================*/
.adminform
{
	height:200px;
	width:700px;
	margin-left:150px;
	padding:300px;
}
  
.admintitle
{
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
	
}


#adminform
{
	margin-top:500px;
     display:block;
}


.full-width
{
	grid-column: 1/3;
}
.formarea textarea{
	width:365%;
	margin-left:5px;
}
.formarea label{
	margin-left:1px;
}
 
/*==============msg=========*/

.msg
{
	color:red;
}


/*=============msg===========*/



     
 /*===================================button========================================*/



         .btn-grad {background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            margin-top:20px;
            margin-left:350px;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
         
     
 /*===================================end of button========================================*/  
/*-------------------------------------------------------------------------*/   



